
/* 
=====
List styles
=====
*/

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 20px;
}

table tr {
  border-bottom: 1px solid black;
}

table tr td {
  border-right: 1px solid black;
}


