
/* 
=====
List styles
=====
*/

.row1 li, .row2 li, .row3 li {
  display: inline;
  margin: 20px;
}

.playTable {
  list-style-type: none;
}

.row1, .row2, .row3 {
  margin-top: 20px;
  margin-bottom: 20px;
}