
/* 
=====
List styles
=====
*/

#table table {
  border: 1px solid black;
  border-collapse: collapse;
}

#table td {
  padding: 20px;
}

#table table tr {
  border-bottom: 1px solid black;
}

#table table tr td {
  border-right: 1px solid black;
}

#scoreboard {
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}

#scoreboard th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#scoreboard td {
  border-right: 1px solid black;
}



